<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer header</h5>
        <p class="grey-text text-lighten-4">
          Here is some content for the main body of footer text. Etc and so forth.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li>
            <a class="white-text" href="#">Link 1</a>
          </li>
          <li>
            <a class="white-text" href="#">Link 2</a>
          </li>
          <li>
            <a class="white-text" href="#">Link 3</a>
          </li>
          <li>
            <a class="white-text" href="#">Link 4</a>
          </li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="white-text" href="#">Link 1</a>
          </li>
          <li>
            <a class="white-text" href="#">Link 2</a>
          </li>
          <li>
            <a class="white-text" href="#">Link 3</a>
          </li>
          <li>
            <a class="white-text" href="#">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy Website by <a href="#" class="white-text">Matt Brown</a>
    </div>
  </div>
</footer>
